body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  margin: 0;
}

button {
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  padding: 12px 36px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
}


/* Header Section */
.header-section {
  display: flex;
  align-items: center;
  background-color: #1f2937;
  justify-content: space-between;
  padding: 30px 200px;
}

.header-logo {
  display: flex;
  font-size: 24px;
  font-weight: 800;
  padding: 0;
  color: #f9faf8;
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  margin: 0 15px;
  color: #f9faf8;
  text-decoration: none;
}

a:visited {
  color: #e5e7eb;
}

/* Hero Section */
.hero-section {
  padding: 80px 200px;
  display: flex;
  background-color: #1f2937;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 300px;
}

.hero-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.hero-paragraph {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 200;
}

.first-button {
  margin-top: 40px;
  width: 150px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  width: 1200px;
}

/* Information Section */
.info-section {
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-title {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 80px;
}

.info-cards {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.card p {
  width: 200px;
  text-align: center;
}

.card-placeholder img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-color: #3882f6;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
}

/* Quote Section */
.quote-section {
  padding: 150px 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e5e7eb;
}

.quote-text {
  display: flex;
  color: #1f2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  padding: 0 200px;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  color: #1f2937;
  padding: 0 200px;
}

/* Call to Action */
.cta-section {
  padding: 0 200px;
  display: flex;
  justify-content: center;
}

.cta-square {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  margin: 80px 0;
  padding: 30px 60px;
  width: 1200px;
  border-radius: 10px;
  
}

.cta-text {
  color: #f9faf8;
}

.cta-text h3 {
  margin-bottom: 8px;
}

.cta-text p {
  margin: 0;
}

.last-button {
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: #f9faf8;
}

/* Footer Section */
.footer-section{
  padding: 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
}